.footer {
  padding: 20px 0 20px 20px;
  background-color: $grey;
  display: flex;
  flex-direction: column;
  ul {
    list-style: none;
    margin: 0;
  }
  &__title {
    padding: 0 20px 15px 0;
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0%;
  }
  &__link {
    text-decoration: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: fit-content;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 20px 0 20px 0;
    &__title {
      padding-bottom: 0;
    }
    &__links {
      flex-direction: row;
      gap: 1rem;
    }
  }
}
