.footer {
  margin: 30px 0 0 0;
  padding: 20px 0 0 20px;
  background-color: $grey;
  display: flex;
  flex-direction: column;
  ul {
    list-style: none;
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0%;
  }
  &__link {
    text-decoration: none;
    display: flex;
    gap: 8px;
    align-items: center;
    width: fit-content;
  }
}
