.header {
  position: relative;
  background-color: $bg-color-secondary;
  width: 100%;
  display: flex;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  &__title {
    width: fit-content;
    margin: 13px auto;
  }
  &__go-back {
    position: absolute;
    left: 5%;
    top: 48%;
    color: $font-principale-color;
  }
}
