/***************************** HOME - OPERATING *****************************/
.operating {
  background-color: $bg-color-secondary;
  &__process {
    background-color: $bg-color-principal;
    border-radius: $box-border-radius;
    box-shadow: $item-box-shadow;
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 72px;
    &-num {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      position: relative;
      left: -10px;
      background-color: $purple;
      border-radius: $circle-border-radius;
    }
    &-container {
      margin-left: 8px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .operating__process {
    flex-basis: 33%;
  }
}
