.restaurants {
  .fa-heart {
    bottom: 30px;
    right: 25px;
  }
  &__card {
    position: relative;
    box-sizing: border-box;
    &-link {
      background-color: $bg-color-secondary;
      display: flex;
      flex-direction: column;
      border-radius: $box-border-radius;
      overflow: hidden;
      &-img {
        object-fit: cover;
        object-position: center bottom;
        height: 170px;
        width: 100%;
      }
      &-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px 25px 15px 15px;
        &-txt {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;
        }
      }
    }
    &:nth-child(2) {
      .restaurants__card-link-img {
        object-position: 50% 61%;
      }
    }
    &--new::before {
      content: "Nouveau";
      font-size: 14px;
      color: $green-dark;
      font-weight: 500;
      padding: 5px 10px;
      position: absolute;
      top: 10px;
      right: 2%;
      width: fit-content;
      background-color: $green-light;
      border-radius: 2px;
      box-shadow: $card-box-shadow;
    }
  }
}

@media screen and (min-width: 768px) {
  .restaurants__card-link-img {
    height: 231px;
  }
}

@media screen and (min-width: 1024px) {
  .restaurants {
    &__cards-container {
      flex-wrap: wrap;
      gap: 2.2rem;
    }
    &__card {
      flex-basis: 48%;
      &-link-img {
        object-position: 50% 80%;
      }
    }
  }
}
