/***************************** HOME - LOCATION *****************************/
.location {
  background-color: $bg-color-location;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  z-index: -1;
  i {
    padding-right: 10px;
  }
}

@media screen and (min-width: 1441px) {
  .location {
    width: fit-content;
    margin: auto;
    border-radius: 0 0 $box-border-radius $box-border-radius;
    padding: 15px 50px;
  }
}
