.search-area {
  align-items: center;
  text-align: center;
  &__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
  }
  &__title {
    padding: 0 50px;
  }
}
