/***************************** RESTAURANT - MENU *****************************/
.menu {
  position: relative;
  top: -60px;
  background-color: $bg-color-principal;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  border-radius: $menu-border-radius;
  padding: 40px 10px 0px 10px;
  max-width: 1024px;
  margin: auto;
  &__header {
    position: relative;
    left: -22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    &-title {
      margin: 0;
    }
    &-heart {
      position: relative;
      top: -13px;
      left: 20px;
    }
  }

  /* progressive appearing of menu parts */
  .starters {
    animation: appearing $appearing-dur ease-in-out forwards;
  }
  .main-courses {
    animation: appearing $appearing-dur ease-in-out
      $appearing-main-courses-delay forwards;
  }
  .desserts {
    animation: appearing $appearing-dur ease-in-out $appearing-desserts-delay
      forwards;
  }
  &__part {
    opacity: 0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding: 0%;
    &-title {
      position: relative;
      padding-left: 0;
      padding-bottom: 15px;
      margin-bottom: 5px;
      &::after {
        content: "";
        width: 40px;
        height: 3px;
        background-color: $green-light;
        position: absolute;
        top: 25px;
        left: 0px;
      }
    }
  }
  &__dish {
    cursor: pointer;
    position: relative;
    background-color: $bg-color-secondary;
    padding: 15px;
    border-radius: $box-border-radius;
    box-shadow: $item-box-shadow;
    overflow: hidden;
    width: 85vw;
    max-width: 600px;
    &-name {
      line-height: 1.6rem;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &-description {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 88%;
    }
    &-price {
      position: absolute;
      right: 15px;
      bottom: 15px;
      background-color: $bg-color-secondary;
    }
    &-check {
      color: $bg-color-secondary;
      background-color: $green-light;
      position: absolute;
      right: 0%;
      top: 0%;
      height: 100%;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scaleX(0);
      transform-origin: right;
    }
  }
  &__order-btn {
    margin-top: 15px;
    padding: 15px 40px;
  }
}

/* select dish animation */
.menu__dish-price,
.menu__dish-check {
  transition: transform $check-delay, width $check-delay;
}
@for $i from 1 through $num-dish {
  #menu-dish--#{$i}:checked + label > .menu__dish-check {
    transform: scaleX(1);
  }
  #menu-dish--#{$i}:checked + label > .menu__dish-price {
    transform: translate(-50px);
  }
  #menu-dish--#{$i}:checked + label > .menu__dish-name,
  #menu-dish--#{$i}:checked + label > .menu__dish-description {
    animation: reduce-txt 0.2s ease-in-out forwards;
  }
  #menu-dish--#{$i}:not(:checked) + label > .menu__dish-name,
  #menu-dish--#{$i}:not(:checked) + label > .menu__dish-description {
    animation: expand-txt 0.2s ease-in-out forwards;
  }
}

/* Menu parts */
@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* check dish txt animations */
@keyframes reduce-txt {
  20% {
    width: 84.2%;
  }
  50% {
    width: 78.5%;
  }
  100% {
    width: 69%;
  }
}
@keyframes expand-txt {
  0% {
    width: 69%;
  }
  50% {
    width: 78.5%;
  }
  100% {
    width: 88%;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    &__dish {
      width: 65vw;
    }
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    padding-bottom: 40px;
  }
}
