/***************************** RESTAURANT - MENU *****************************/
.menu {
  position: relative;
  top: -60px;
  background-color: $bg-color-principal;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  border-radius: $menu-border-radius;
  padding: 40px 10px 0px 10px;
  max-width: 1024px;
  margin: auto;
  &__header {
    position: relative;
    left: -22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    &-title {
      margin: 0;
    }
    &-heart {
      position: relative;
      top: -13px;
      left: 20px;
    }
  }

  /* progressive appearing of menu parts */
  .starters {
    animation: appearing $appearing-dur ease-in-out forwards;
  }
  .main-courses {
    animation: appearing $appearing-dur ease-in-out
      $appearing-main-courses-delay forwards;
  }
  .desserts {
    animation: appearing $appearing-dur ease-in-out $appearing-desserts-delay
      forwards;
  }
  &__part {
    opacity: 0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding: 0%;
    &-title {
      position: relative;
      padding-left: 0;
      padding-bottom: 15px;
      margin-bottom: 5px;
      &::after {
        content: "";
        width: 40px;
        height: 3px;
        background-color: $green-light;
        position: absolute;
        top: 25px;
        left: 0px;
      }
    }
  }
  &__order-btn {
    margin-top: 15px;
    padding: 15px 40px;
  }
}

/* Menu parts */
@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    padding-bottom: 40px;
  }
}
