/***************************** VARIABLES ********************************/
/* Colors */
/* Background color */
/* Font colors */
/* Borders */
/* Shadows */
/* Buttons */
/* loader */
/* Restaurants */
/* Menu */
/* buttons */
/* heart like element */
/***************************** BASES ***************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  background: #f6f6f6;
  overflow: hidden;
}

h3,
p {
  margin: 0;
}

/***************************** IMPORTS *****************************/
/* google font Roboto */
/* google font Shrikhand */
/***************************** TYPOGRAPHY *****************************/
/* general */
body {
  font-family: "Roboto", sans-serif;
  color: black;
}

p {
  font-size: 1.0625rem;
  font-weight: 300;
}

.p-emphase {
  font-size: 1rem;
}

.fa-solid,
.fa-regular {
  font-size: 1.375rem;
}

.link {
  color: black;
  text-decoration: none;
}

.bold {
  font-weight: 500;
}

/* titles */
.header__title,
.footer__title,
.menu__header-title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}

.header__title {
  font-size: 1.875rem;
}

.search-area__subtitle {
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
}

.menu__header-title {
  font-size: 1.75rem;
}
.menu__part-title {
  font-size: 1rem;
  font-weight: 300;
}
.menu__dish-name {
  font-size: 1.125rem;
  font-weight: 500;
}
.menu__dish-description {
  font-size: 0.9375rem;
  text-align: left;
  font-weight: 300;
}
.menu__dish-price {
  font-weight: 700;
}

/* buttons */
.btn {
  color: #ffffff;
  font: 500 1rem "Roboto", sans-serif;
}

/* operating */
.operating__process-icon {
  color: #7e7e7e;
}
.operating__process-icon--highlight {
  color: #9356dc;
}
.operating__process-num {
  font-size: 0.875rem;
  color: #ffffff;
}

/* footer */
.footer {
  color: #ffffff;
}
.footer__link {
  color: #ffffff;
}
.footer .fa-handshake-angle {
  font-size: 1rem;
}

@media screen and (max-width: 372px) {
  .menu__header-title {
    font-size: 1.625rem;
  }
  .menu__dish-name {
    font-size: 1rem;
  }
  .menu__dish-description {
    font-size: 0.75rem;
  }
  .menu__dish-price {
    font-size: 0.813rem;
  }
}
/***************************** BUTTONS COMPONENTS *****************************/
.btn {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding: 15px 20px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  cursor: pointer;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 25px;
  background: linear-gradient(0deg, #9e67e0 0%, #ff8de0 100%);
  transition: opacity 200ms ease-in;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
  transition: opacity 200ms ease-in;
}
.btn:hover::before {
  opacity: 1;
}
.btn:hover::after {
  opacity: 1;
}

/***************************** INPUTS COMPONENTS *****************************/
/* for heart like and dish checked */
.hidden-input {
  display: none;
}

/***************************** HEARTS COMPONENTS *****************************/
.fa-heart {
  position: absolute;
  z-index: 99;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px;
}

.heart--like {
  opacity: 0;
  transform: scale(0);
  transition: transform 200ms;
  background: linear-gradient(0deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart--unlike {
  transition: opacity 200ms;
}

/* homepage restaurants section */
#restaurants-heart--1:checked + label .heart--unlike {
  opacity: 0;
}
#restaurants-heart--1:checked + label .heart--like {
  opacity: 1;
  transform: scale(1);
}

#restaurants-heart--2:checked + label .heart--unlike {
  opacity: 0;
}
#restaurants-heart--2:checked + label .heart--like {
  opacity: 1;
  transform: scale(1);
}

#restaurants-heart--3:checked + label .heart--unlike {
  opacity: 0;
}
#restaurants-heart--3:checked + label .heart--like {
  opacity: 1;
  transform: scale(1);
}

#restaurants-heart--4:checked + label .heart--unlike {
  opacity: 0;
}
#restaurants-heart--4:checked + label .heart--like {
  opacity: 1;
  transform: scale(1);
}

/* restaurant menu */
#menu-heart:checked + label .heart--unlike {
  opacity: 0;
}
#menu-heart:checked + label .heart--like {
  opacity: 1;
  transform: scale(1);
}

/***************************** LOADER COMPONENT *****************************/
.loader {
  height: 100%;
  width: 100vw;
  animation: loader-div 3s forwards;
  overflow-y: hidden;
  z-index: 99;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader i {
  opacity: 1;
  animation: loader 3s ease-in-out forwards;
  font-size: 100px;
  background: linear-gradient(0deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 99;
}

@keyframes loader {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  20%, 60% {
    opacity: 1;
    transform: scale(1);
  }
  40%, 80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.3);
    opacity: 0;
  }
}
@keyframes loader-div {
  95% {
    opacity: 0.8;
  }
  100% {
    display: none;
    z-index: -1;
  }
}
/***************************** RESTAURANT DISH COMPONENT *****************************/
.menu__dish {
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 85vw;
  max-width: 600px;
}
.menu__dish-name {
  line-height: 1.6rem;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__dish-description {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 88%;
}
.menu__dish-price {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: #ffffff;
}
.menu__dish-check {
  color: #ffffff;
  background-color: #99e2d0;
  position: absolute;
  right: 0%;
  top: 0%;
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: right;
}

/* select dish animation */
.menu__dish-price,
.menu__dish-check {
  transition: transform 0.5s, width 0.5s;
}

#menu-dish--1:checked + label > .menu__dish-check {
  transform: scaleX(1);
}

#menu-dish--1:checked + label > .menu__dish-price {
  transform: translate(-50px);
}

#menu-dish--1:checked + label > .menu__dish-name,
#menu-dish--1:checked + label > .menu__dish-description {
  animation: reduce-txt 0.2s ease-in-out forwards;
}

#menu-dish--1:not(:checked) + label > .menu__dish-name,
#menu-dish--1:not(:checked) + label > .menu__dish-description {
  animation: expand-txt 0.2s ease-in-out forwards;
}

#menu-dish--2:checked + label > .menu__dish-check {
  transform: scaleX(1);
}

#menu-dish--2:checked + label > .menu__dish-price {
  transform: translate(-50px);
}

#menu-dish--2:checked + label > .menu__dish-name,
#menu-dish--2:checked + label > .menu__dish-description {
  animation: reduce-txt 0.2s ease-in-out forwards;
}

#menu-dish--2:not(:checked) + label > .menu__dish-name,
#menu-dish--2:not(:checked) + label > .menu__dish-description {
  animation: expand-txt 0.2s ease-in-out forwards;
}

#menu-dish--3:checked + label > .menu__dish-check {
  transform: scaleX(1);
}

#menu-dish--3:checked + label > .menu__dish-price {
  transform: translate(-50px);
}

#menu-dish--3:checked + label > .menu__dish-name,
#menu-dish--3:checked + label > .menu__dish-description {
  animation: reduce-txt 0.2s ease-in-out forwards;
}

#menu-dish--3:not(:checked) + label > .menu__dish-name,
#menu-dish--3:not(:checked) + label > .menu__dish-description {
  animation: expand-txt 0.2s ease-in-out forwards;
}

#menu-dish--4:checked + label > .menu__dish-check {
  transform: scaleX(1);
}

#menu-dish--4:checked + label > .menu__dish-price {
  transform: translate(-50px);
}

#menu-dish--4:checked + label > .menu__dish-name,
#menu-dish--4:checked + label > .menu__dish-description {
  animation: reduce-txt 0.2s ease-in-out forwards;
}

#menu-dish--4:not(:checked) + label > .menu__dish-name,
#menu-dish--4:not(:checked) + label > .menu__dish-description {
  animation: expand-txt 0.2s ease-in-out forwards;
}

#menu-dish--5:checked + label > .menu__dish-check {
  transform: scaleX(1);
}

#menu-dish--5:checked + label > .menu__dish-price {
  transform: translate(-50px);
}

#menu-dish--5:checked + label > .menu__dish-name,
#menu-dish--5:checked + label > .menu__dish-description {
  animation: reduce-txt 0.2s ease-in-out forwards;
}

#menu-dish--5:not(:checked) + label > .menu__dish-name,
#menu-dish--5:not(:checked) + label > .menu__dish-description {
  animation: expand-txt 0.2s ease-in-out forwards;
}

#menu-dish--6:checked + label > .menu__dish-check {
  transform: scaleX(1);
}

#menu-dish--6:checked + label > .menu__dish-price {
  transform: translate(-50px);
}

#menu-dish--6:checked + label > .menu__dish-name,
#menu-dish--6:checked + label > .menu__dish-description {
  animation: reduce-txt 0.2s ease-in-out forwards;
}

#menu-dish--6:not(:checked) + label > .menu__dish-name,
#menu-dish--6:not(:checked) + label > .menu__dish-description {
  animation: expand-txt 0.2s ease-in-out forwards;
}

#menu-dish--7:checked + label > .menu__dish-check {
  transform: scaleX(1);
}

#menu-dish--7:checked + label > .menu__dish-price {
  transform: translate(-50px);
}

#menu-dish--7:checked + label > .menu__dish-name,
#menu-dish--7:checked + label > .menu__dish-description {
  animation: reduce-txt 0.2s ease-in-out forwards;
}

#menu-dish--7:not(:checked) + label > .menu__dish-name,
#menu-dish--7:not(:checked) + label > .menu__dish-description {
  animation: expand-txt 0.2s ease-in-out forwards;
}

#menu-dish--8:checked + label > .menu__dish-check {
  transform: scaleX(1);
}

#menu-dish--8:checked + label > .menu__dish-price {
  transform: translate(-50px);
}

#menu-dish--8:checked + label > .menu__dish-name,
#menu-dish--8:checked + label > .menu__dish-description {
  animation: reduce-txt 0.2s ease-in-out forwards;
}

#menu-dish--8:not(:checked) + label > .menu__dish-name,
#menu-dish--8:not(:checked) + label > .menu__dish-description {
  animation: expand-txt 0.2s ease-in-out forwards;
}

#menu-dish--9:checked + label > .menu__dish-check {
  transform: scaleX(1);
}

#menu-dish--9:checked + label > .menu__dish-price {
  transform: translate(-50px);
}

#menu-dish--9:checked + label > .menu__dish-name,
#menu-dish--9:checked + label > .menu__dish-description {
  animation: reduce-txt 0.2s ease-in-out forwards;
}

#menu-dish--9:not(:checked) + label > .menu__dish-name,
#menu-dish--9:not(:checked) + label > .menu__dish-description {
  animation: expand-txt 0.2s ease-in-out forwards;
}

#menu-dish--10:checked + label > .menu__dish-check {
  transform: scaleX(1);
}

#menu-dish--10:checked + label > .menu__dish-price {
  transform: translate(-50px);
}

#menu-dish--10:checked + label > .menu__dish-name,
#menu-dish--10:checked + label > .menu__dish-description {
  animation: reduce-txt 0.2s ease-in-out forwards;
}

#menu-dish--10:not(:checked) + label > .menu__dish-name,
#menu-dish--10:not(:checked) + label > .menu__dish-description {
  animation: expand-txt 0.2s ease-in-out forwards;
}

/* check dish txt animations */
@keyframes reduce-txt {
  20% {
    width: 84.2%;
  }
  50% {
    width: 78.5%;
  }
  100% {
    width: 69%;
  }
}
@keyframes expand-txt {
  0% {
    width: 69%;
  }
  50% {
    width: 78.5%;
  }
  100% {
    width: 88%;
  }
}
@media screen and (min-width: 768px) {
  .menu__dish {
    width: 65vw;
  }
}
/***************************** HEADER *****************************/
.header {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__title {
  width: -moz-fit-content;
  width: fit-content;
  margin: 13px auto;
}
.header__go-back {
  position: absolute;
  left: 5%;
  top: 48%;
  color: black;
}

/***************************** FOOTER *****************************/
.footer {
  padding: 20px 0 20px 20px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
.footer ul {
  list-style: none;
  margin: 0;
}
.footer__title {
  padding: 0 20px 15px 0;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0%;
}
.footer__link {
  text-decoration: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 40px 0 40px 0;
  }
  .footer__title {
    padding-bottom: 0;
  }
  .footer__links {
    flex-direction: row;
    gap: 1rem;
  }
}
/***************************** HOME - LOCATION *****************************/
.location {
  background-color: #eaeaea;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  z-index: -1;
}
.location i {
  padding-right: 10px;
}

@media screen and (min-width: 1441px) {
  .location {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    border-radius: 0 0 15px 15px;
    padding: 15px 50px;
  }
}
/***************************** HOME - SEARCH AREA *****************************/
.search-area {
  align-items: center;
  text-align: center;
}
.search-area__titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
.search-area__title {
  padding: 0 50px;
}

/***************************** HOME - OPERATING *****************************/
.operating {
  background-color: #ffffff;
}
.operating__process {
  background-color: #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 72px;
}
.operating__process-num {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  position: relative;
  left: -10px;
  background-color: #9356dc;
  border-radius: 100%;
}
.operating__process-container {
  margin-left: 8px;
}

@media screen and (min-width: 1024px) {
  .operating__process {
    flex-basis: 33%;
  }
}
/***************************** HOME - RESTAURANTS *****************************/
.restaurants .fa-heart {
  bottom: 30px;
  right: 25px;
}
.restaurants__card {
  position: relative;
  box-sizing: border-box;
}
.restaurants__card-link {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
}
.restaurants__card-link-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  height: 170px;
  width: 100%;
}
.restaurants__card-link-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 25px 15px 15px;
}
.restaurants__card-link-content-txt {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.restaurants__card:nth-child(2) .restaurants__card-link-img {
  -o-object-position: 50% 61%;
     object-position: 50% 61%;
}
.restaurants__card--new::before {
  content: "Nouveau";
  font-size: 14px;
  color: #008766;
  font-weight: 500;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 2%;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #99e2d0;
  border-radius: 2px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .restaurants__card-link-img {
    height: 231px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__cards-container {
    flex-wrap: wrap;
    gap: 2.2rem;
  }
  .restaurants__card {
    flex-basis: 48%;
  }
  .restaurants__card-link-img {
    -o-object-position: 50% 80%;
       object-position: 50% 80%;
  }
}
/***************************** RESTAURANT - MENU *****************************/
.menu {
  position: relative;
  top: -60px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  border-radius: 40px;
  padding: 40px 10px 0px 10px;
  max-width: 1024px;
  margin: auto;
  /* progressive appearing of menu parts */
}
.menu__header {
  position: relative;
  left: -22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.menu__header-title {
  margin: 0;
}
.menu__header-heart {
  position: relative;
  top: -13px;
  left: 20px;
}
.menu .starters {
  animation: appearing 1.2s ease-in-out forwards;
}
.menu .main-courses {
  animation: appearing 1.2s ease-in-out 0.7s forwards;
}
.menu .desserts {
  animation: appearing 1.2s ease-in-out 1.4s forwards;
}
.menu__part {
  opacity: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 0%;
}
.menu__part-title {
  position: relative;
  padding-left: 0;
  padding-bottom: 15px;
  margin-bottom: 5px;
}
.menu__part-title::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  top: 25px;
  left: 0px;
}
.menu__order-btn {
  margin-top: 15px;
  padding: 15px 40px;
}

/* Menu parts */
@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    padding-bottom: 40px;
  }
}
/***************************** HOME *****************************/
/* layout/home-location */
/* layout/home-search-area */
/* layout/home-operating */
/* layout/home-restaurants */
/* this page is an overlay of sections */
/* loader */
.body-homepage {
  overflow-y: clip;
  animation: bloc-scroll 3s forwards;
}

.homepage {
  opacity: 0;
  animation: loading 1s ease-in 2.5s forwards;
}

.homepage main {
  max-width: 1440px;
  margin: auto;
}

.home__section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 40px 20px 50px 20px;
}
.home__section-title {
  margin: 0;
}
.home__section-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@keyframes bloc-scroll {
  99% {
    overflow-y: clip;
  }
  100% {
    overflow-y: auto;
  }
}
@keyframes loading {
  40% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .home__section {
    padding: 40px 15% 50px 15%;
  }
}
@media screen and (min-width: 1024px) {
  .home__section {
    padding: 40px 5% 50px 5%;
  }
  .home__section-content {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1441px) {
  .home__section {
    border-radius: 15px;
  }
}
/***************************** RESTAURANT *****************************/
/* layout/restaurant-menu */
/* components/restaurant-dish */
.restaurant-page {
  overflow-y: auto;
}
.restaurant-page__img {
  height: 275px;
  width: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

@media screen and (min-width: 1024px) {
  .restaurant-page {
    background-color: #ffffff;
  }
}/*# sourceMappingURL=main.css.map */