// layout/home-location
// layout/home-search-area
// layout/home-operating
// layout/home-restaurants
// this page is an overlay of sections
.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 40px 20px 50px 20px;
  &__title {
    margin: 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 40px 15% 50px 15%;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 40px 5% 50px 5%;
    &__content {
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1441px) {
  .section {
    border-radius: $box-border-radius;
  }
}
