// layout/home-location
// layout/home-search-area
// layout/home-operating
// layout/home-restaurants
// this page is an overlay of sections
.homepage main {
  max-width: 1440px;
  margin: auto;
}
.home__section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 40px 20px 50px 20px;
  &-title {
    margin: 0;
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .home__section {
    padding: 40px 15% 50px 15%;
  }
}

@media screen and (min-width: 1024px) {
  .home__section {
    padding: 40px 5% 50px 5%;
    &-content {
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1441px) {
  .home__section {
    border-radius: $box-border-radius;
  }
}
