/***************************** HOME *****************************/
/* layout/home-location */
/* layout/home-search-area */
/* layout/home-operating */
/* layout/home-restaurants */
/* this page is an overlay of sections */

/* loader */
.body-homepage {
  overflow-y: clip;
  animation: bloc-scroll $loader-dur forwards;
}
.homepage {
  opacity: 0;
  animation: loading $homepage-appearing-dur ease-in $homepage-appearing-delay
    forwards;
  overflow: hidden;
}

.homepage main {
  max-width: 1440px;
  margin: auto;
}
.home__section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 40px 20px 50px 20px;
  &-title {
    margin: 0;
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

@keyframes bloc-scroll {
  99% {
    overflow-y: clip;
  }
  100% {
    overflow-y: auto;
  }
}

@keyframes loading {
  10% {
  }
  40% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .home__section {
    padding: 40px 15% 50px 15%;
  }
}

@media screen and (min-width: 1024px) {
  .home__section {
    padding: 40px 5% 50px 5%;
    &-content {
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1441px) {
  .home__section {
    border-radius: $box-border-radius;
  }
}
