.restaurant-page__img {
  height: 275px;
  max-width: 100vw;
  z-index: -1;
}
.menu {
  position: relative;
  top: -60px;
  background-color: $bg-color-principal;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  border-radius: $menu-border-radius $menu-border-radius 0 0;
  padding: 40px 10px 0 10px;
  .fa-heart {
    top: -13px;
  }
  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 100%;
    &-title {
      margin: 0;
    }
    &-heart {
      position: relative;
    }
  }
  &__choices {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 99%;
    &-title {
      margin-bottom: 10px;
      //   !TODO
      &::after {
        content: "";
        width: 40px;
        height: 3px;
        background-color: $green-light;
        position: relative;
        top: 20px;
        left: 0px;
      }
    }
  }
  &__dish {
    &-label {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      background-color: $bg-color-secondary;
      padding: 15px;
      border-radius: $box-border-radius;
      box-shadow: $item-box-shadow;
    }
  }
  &__order-btn {
    padding: 15px 40px;
  }
}
