/***************************** RESTAURANT *****************************/
/* layout/restaurant-menu */
/* components/restaurant-dish */
.restaurant-page {
  &__img {
    height: 275px;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: 50% 60%;
  }
}

@media screen and (min-width: 1024px) {
  .restaurant-page {
    background-color: $bg-color-secondary;
  }
}
