/***************************** BUTTONS COMPONENTS *****************************/
.btn {
  width: fit-content;
  position: relative;
  padding: 15px 20px;
  border-radius: $btn-border-radius;
  border: none;
  background: $bg-btn-gradient;
  box-shadow: $btn-box-shadow;
  z-index: 1;
  cursor: pointer;
  &::after {
    @include pseudo-elem;
    opacity: 0;
    z-index: -1;
    border-radius: $btn-border-radius;
    background: $bg-btn-gradient-lighten;
    transition: opacity 200ms ease-in;
  }
  &::before {
    @include pseudo-elem;
    opacity: 0;
    z-index: 1;
    border-radius: $btn-border-radius;
    box-shadow: $btn-box-shadow-hover;
    transition: opacity 200ms ease-in;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
    &::after {
      opacity: 1;
    }
  }
}
