.fa-heart {
  position: absolute;
  z-index: 99;
  width: fit-content;
  padding: 2px;
}

.heart {
  &--like {
    opacity: 0;
    transform: scale(0);
    transition: transform 200ms;
    @include text-gradient;
  }
  &--unlike {
    transition: opacity 200ms;
  }
}

// ******************************* homepage restaurants section
@for $i from 1 through $num-restaurants {
  #restaurants-heart--#{$i}:checked + label {
    .heart {
      &--unlike {
        opacity: 0;
      }
      &--like {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

// ******************************* restaurant menu
#menu-heart:checked + label {
  .heart {
    &--unlike {
      opacity: 0;
    }
    &--like {
      opacity: 1;
      transform: scale(1);
    }
  }
}
