/***************************** LOADER COMPONENT *****************************/
.loader {
  height: 100%;
  width: 100vw;
  animation: loader-div $loader-dur forwards;
  overflow-y: hidden;
  z-index: 99;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    opacity: 1;
    animation: loader $loader-dur ease-in-out forwards;
    font-size: 100px;
    @include text-gradient;
    z-index: 99;
  }
}
@keyframes loader {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  20%,
  60% {
    opacity: 1;
    transform: scale(1);
  }
  40%,
  80% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.3);
    opacity: 0;
  }
}
@keyframes loader-div {
  95% {
    opacity: 0.8;
  }
  100% {
    display: none;
    z-index: -1;
  }
}
