.loader i {
  z-index: 99;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  opacity: 1;
  animation: loader $loader-dur ease-in forwards;
  font-size: 100px;
  @include text-gradient;
}

@keyframes loader {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  20%,
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  40%,
  80% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}
