/* buttons */
@mixin pseudo-elem {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* heart like element */
@mixin text-gradient {
  background: $bg-heart-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
