/***************************** VARIABLES ********************************/
/* Colors */
$green-light: #99e2d0;
$green-dark: #008766;
$purple: #9356dc;
$purple-light: lighten($purple, 4%);
$pink: #ff79da;
$pink-light: lighten($pink, 4%);
$grey: #353535;
$grey-light: #7e7e7e;

/* Background color */
$bg-color-principal: #f6f6f6;
$bg-color-secondary: #ffffff;
$bg-color-location: #eaeaea;
$bg-heart-gradient: linear-gradient(0deg, $pink 0%, #9356dc 100%);

/* Font colors */
$font-principale-color: black;

/* Borders */
$box-border-radius: 15px;
$btn-border-radius: 25px;
$circle-border-radius: 100%;
$menu-border-radius: 40px;

/* Shadows */
$header-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$card-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
$item-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

/* Buttons */
$bg-btn-gradient: linear-gradient(0deg, $purple 0%, $pink 100%);
$bg-btn-gradient-lighten: linear-gradient(
  0deg,
  $purple-light 0%,
  $pink-light 100%
);
$btn-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$btn-box-shadow-hover: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);

/* loader */
$loader-dur: 3s;
$homepage-appearing-delay: $loader-dur - 0.5s;
$homepage-appearing-dur: 1s;

/* Restaurants */
$num-restaurants: 4; // used for heart like / can be modified via js

/* Menu */
$num-dish: 10; // max of all restaurants (not best practice but with js and DB we can avoid that by mapping and set the good value of each restauarants)
$appearing-dur: 1.2s;
$appearing-main-courses-delay: $appearing-dur - 0.5s;
$appearing-desserts-delay: $appearing-dur + $appearing-dur - 1s;
$check-delay: 0.5s;
