// Colors
$principal-bg-color: #f6f6f6;
$footer-bg-color: #353535;
$green-light: #99e2d0;
$green-dark: #008766;
$blue-light: #89c8fa;
$blue-dark: #003a68;
$purple: #9356dc;
$grey: #353535;
$gradient-bg: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);

// Fonts
$font-size-header-title: 30px;
