// Colors
$bg-color-principal: #f6f6f6;
$bg-color-secondary: #ffffff;
$bg-color-location: #eaeaea;
$font-principale-color: black;
$green-light: #99e2d0;
$green-dark: #008766;
$blue-light: #89c8fa;
$blue-dark: #003a68;
$purple: #9356dc;
$grey: #353535;
$grey-light: #7e7e7e;
$gradient-bg: linear-gradient(193deg, $purple -11.44%, #ff79da 123.93%);

// Fonts
$font-size-header-title: 30px;
