body {
  box-sizing: border-box;
  margin: 0%;
  background: $bg-color-principal;
}

a {
  text-decoration: none;
}

p {
  margin: 0%;
}

.section {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 40px 20px;
  }
  &__title {
    margin: 0%;
  }
}
