/****** Imports ***********/
/* google font Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* google font Shrikhand */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.header__title,
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}

.header__title {
  font-size: $font-size-header-title;
}
